.webguide-title {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  margin-top: 50px;
  margin-left: 50px;
  color: White;
  border-bottom: 2px solid #333;
  padding-bottom: 8px;
  width: fit-content;
}
.webguide-container {
  display: flex; /* 요소들 가로 방향으로 정렬 */
  justify-content: center;
  gap: 35px; /* 요소들 사이의 간격 */
  margin-top: 50px; /* 위쪽여백 */
  padding-bottom: 50px;
}

.webguide-card {
  width: 22%;
  height: 380px;
  border: 2px solid #ccc;
  box-shadow: 0 0 0 4px white, 0 0 0 6px #999;
  border-radius: 12px;
  text-align: center;
  background-color: white;
  overflow: hidden;
}

.webguide-image {
  /*카드 높이에서 70% 차지하는 부분 */
  height: 80%;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #999;
}

.webguide-text {
  margin-top: 15px;
  color: #333;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
}

.guide-title {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  margin-top: 50px;
  margin-left: 50px;
  color: White;
  border-bottom: 2px solid #333; /* 글자 밑에 밑줄줄 (두께 2px, 색상 짙은 회색) */
  padding-bottom: 8px; /* 선과 텍스트 사이 여백 */
  width: fit-content; /* 선 길이를 텍스트 너비만큼 */
}
.guide-container {
  display: flex; /* 요소들 가로 방향으로 정렬 */
  justify-content: center;
  gap: 35px; /* 요소들 사이의 간격 */
  margin-top: 50px; /* 위쪽여백 */
  padding-bottom: 50px;

}

.guide-card {
  width: 22%;
  height: 380px;
  border: 2px solid #ccc;
  box-shadow: 0 0 0 4px white, 0 0 0 6px #999;
  border-radius: 12px;
  text-align: center;
  background-color: white;
  overflow: hidden;
}

.guide-image {
  /*카드 높이에서 70% 차지하는 부분 */
  height: 80%;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #999;
}

.guide-text {
  margin-top: 15px;
  color: #333;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
}
