/* src/pages/Visualize.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  position: relative;
  width: 70vw;
  height: 80vh;
  background: #efe4e4;
  padding: 20px;
  border-radius: 16px;
  overflow-y: auto;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #353434;
}

.modal-content h2 {
  color: #8051ac;
  font-size: 20px;
  font-style: bold;
}

.modal-content p {
  color: #68547c;
  font-size: 16px;
}

.graph-description {
  text-align: center;
  margin-top: 16px;
  font-size: 14px;
  color: #555;
  line-height: 1.5;
  padding: 12px;
  border-radius: 8px;
}

.graph-description ul {
  margin-top: 7px;
  padding-left: 14px;
}

.graph-description li {
  margin-bottom: 6px;
}

.download-button {
  background-color: #68547c;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}

.download-button:hover {
  background-color: #45a049;
}